/* html{
     background-color: aliceblue;
    font-family: sans-serif;
    font-size:  14px;
    margin: 1% 22%; 
} */

@media (max-width: 600px) {
    /* html{
         font-size: 12px;
        margin: 1% 4%; 
    } */
    
}